.vagrant/**
logs/banana/**
sources/banana/**
setup/config/mac.conf

setup/ssh/id_bitbucket.rsa

setup/ssh/id_rsa.pub

setup/config/projects.list

logs/tehem/fanfictions.fr/access_log

*.log

logs/tehem/fanfictions.fr/error_log

sources/tehem/fanfictions.fr/

sources/tehem/paridami/
